<%page args="section_data" expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<div class="action-type-container">
  %if section_data['is_small_course']:
  ## Show the gradebook for small courses
    <h3 class="hd hd-3">${_("Student Gradebook")}</h3>
      <label for="gradebook-link">
    	${_("Click here to view the gradebook for enrolled students. This feature is only visible to courses with a small number of total enrolled students.")}
      </label>
      <br>
    <span name="gradebook-link"></span><a href="${ section_data['spoc_gradebook_url'] }" class="gradebook-link"> ${_("View Gradebook")} </a></span>
    <hr>
  %endif
</div>

<div class="student-specific-container action-type-container">
  <h3 class="hd hd-3">${_("Student-specific grade inspection")}</h3>
  <div class="request-response-error"></div>
  <label>
  ${_("Specify the {platform_name} email address or username of a student here:").format(platform_name=settings.PLATFORM_NAME)}
      </br>
  <input type="text" name="student-select-progress" placeholder="${_("Student Email or Username")}" >
  </label>
  <br>

  <div class="progress-link-wrapper">
  <label for="progress-link">
    ${_("Click this link to view the student's progress page:")}
  </label>
    <span name="progress-link"></span><a href="" class="progress-link" data-endpoint="${ section_data['get_student_progress_url_url'] }"> ${_("Student Progress Page")} </a></span>
  </div>

  <hr>
</div>

<div class="student-grade-container action-type-container">
  <h3 class="hd hd-3">${_("Student-specific grade adjustment")}</h3>
  <div class="request-response-error"></div>
  <label for="student-select-grade">
  ${_("Specify the {platform_name} email address or username of a student here:").format(platform_name=settings.PLATFORM_NAME)}
      </br>
  <input type="text" name="student-select-grade" placeholder="${_("Student Email or Username")}">
  </label>
  <br>
  </br>

  <label for="problem-select-single"> ${_("Specify a problem in the course here with its complete location:")}
      </br>
  <input type="text" name="problem-select-single" placeholder="${_("Problem location")}">
  </label>
    </br>
    </br>

  ## Translators: A location (string of text) follows this sentence.
  <label for="problem-location-example-1">${_("You must provide the complete location of the problem. In the Staff Debug viewer, the location looks like this:")}</label></br>
  <code name="problem-location-example-1">block-v1:edX+DemoX+2015+type@problem+block@618c5933b8b544e4a4cc103d3e508378</code>

    </br>
    </br>
  <label for="single-user-actions">
  ${_("Next, select an action to perform for the given user and problem:")}
  </label>

    </br>
    <span name="single-user-actions">
  <input type="button" name="reset-attempts-single" value="${_("Reset Student Attempts")}" data-endpoint="${ section_data['reset_student_attempts_url'] }">

  %if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS') and section_data['access']['instructor']:
    <input type="button" name="rescore-problem-single" value="${_("Rescore Student Submission")}" data-endpoint="${ section_data['rescore_problem_url'] }">
    <input type="button" name="rescore-problem-if-higher-single" value="${_("Rescore Student Submission If Higher")}" data-endpoint="${ section_data['rescore_problem_url'] }">
  %endif
</span>

    </br>
    </br>
  %if section_data['access']['instructor']:
    <label for="delete-state-single"> ${_('You may also delete the entire state of a student for the specified problem:')}
    </br>
    <input type="button" class="molly-guard" name="delete-state-single" value="${_("Delete Student State for Problem")}" data-endpoint="${ section_data['reset_student_attempts_url'] }">
    </label>
  %endif


    </br>
    </br>
  %if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS') and section_data['access']['instructor']:
    <label for="task-history-single">
      ${_("Rescoring runs in the background, and status for active tasks will appear in the 'Pending Tasks' table. "
      "To see status for all tasks submitted for this problem and student, click on this button:")}
    </label>
    </br>
    <input type="button" name="task-history-single" value="${_("Show Background Task History for Student")}" data-endpoint="${ section_data['list_instructor_tasks_url'] }" aria-describedby="task-history-single-help">
    <div class="task-history-single-table"></div>
  %endif
  <hr>
</div>

% if course.entrance_exam_enabled:
<div class="entrance-exam-grade-container action-type-container">
  <h3 class="hd hd-3">${_("Entrance Exam Adjustment")}</h3>
  <div class="request-response-error"></div>

  <label>
  ${_("Student's {platform_name} email address or username:").format(platform_name=settings.PLATFORM_NAME)}
  </label>
  <br>
  <input type="text" name="entrance-exam-student-select-grade" placeholder="${_('Student Email or Username')}">
  <br>
  <br>

  <label for="entrance-exam-actions">
      ${_("Select an action for the student's entrance exam. This action will affect every problem in the student's exam.")}
  </label>
  <br>

    <span name="entrance-exam-actions">
        <input type="button" name="reset-entrance-exam-attempts" value="${_('Reset Number of Student Attempts')}" data-endpoint="${ section_data['reset_student_attempts_for_entrance_exam_url'] }">
        %if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS') and section_data['access']['instructor']:
            <input type="button" name="rescore-entrance-exam" value="${_('Rescore All Problems')}" data-endpoint="${ section_data['rescore_entrance_exam_url'] }">
            <input type="button" name="rescore-entrance-exam-if-higher" value="${_('Rescore All Problems If Higher')}" data-endpoint="${ section_data['rescore_entrance_exam_url'] }">
        %endif
        <input type="button" name="skip-entrance-exam" value="${_('Let Student Skip Entrance Exam')}" data-endpoint="${ section_data['student_can_skip_entrance_exam_url'] }">
</span>
    </br>
    </br>

  %if section_data['access']['instructor']:
    <label for="delete-entrance-exam-state"> ${_("You can also delete all of the student's answers and scores for the entire entrance exam.")}
        </br>
    <input type="button" class="molly-guard" name="delete-entrance-exam-state" value="${_("Delete Student's Answers and Scores")}" data-endpoint="${ section_data['reset_student_attempts_for_entrance_exam_url'] }"></label>
  %endif
    </br>
    </br>


  %if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS') and section_data['access']['instructor']:
    <label for="entrance-exam-task-history">
      ${_("Rescoring runs in the background, and status for active tasks will appear in the 'Pending Tasks' table. "
      "To see status for all tasks submitted for this problem and student, click on this button:")}
    </label>

    <p><input type="button" name="entrance-exam-task-history" value="${_("Show Student's Exam Adjustment History")}" data-endpoint="${ section_data['list_entrace_exam_instructor_tasks_url'] }" aria-describedby="entrance-exam-task-history-help"></p>
    <div class="entrance-exam-task-history-table"></div>
  %endif
  <hr>
</div>
%endif

%if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS') and section_data['access']['instructor']:
  <div class="course-specific-container action-type-container">
    <h3 class="hd hd-3">${_('Course-specific grade adjustment')}</h3>
    <div class="request-response-error"></div>

    <label for="problem-select-all">
      ${_("Specify a problem in the course here with its complete location:")}
    </label>
      </br>
  <input type="text" name="problem-select-all" placeholder="${_("Problem location")}" aria-describedby="problem-select-all-help">

      </br>
      </br>
    ## Translators: A location (string of text) follows this sentence.
    <label for="problem-location-example-2">${_("You must provide the complete location of the problem. In the Staff Debug viewer, the location looks like this:")}</label>
      <br/>
    <code name="problem-location-example-2">block-v1:edX+DemoX+2015+type@problem+block@618c5933b8b544e4a4cc103d3e508378</code>

      </br>
      </br>
    <label for="course-specific-grade-actions">${_("Then select an action")}:</label>
      </br>
    <span name="course-specific-grade-actions">
        <input type="button" class="molly-guard" name="reset-attempts-all" value="${_("Reset ALL students' attempts")}" data-endpoint="${ section_data['reset_student_attempts_url'] }">
        <input type="button" class="molly-guard" name="rescore-problem-all" value="${_("Rescore ALL students' problem submissions")}" data-endpoint="${ section_data['rescore_problem_url'] }">
        <input type="button" class="molly-guard" name="rescore-problem-all-if-higher" value="${_("Rescore ALL students' problem submissions if higher")}" data-endpoint="${ section_data['rescore_problem_url'] }">
    </span>

      </br>
      </br>
    <label for="task-history-all">
      ${_("The above actions run in the background, and status for active tasks will appear in a table on the Course Info tab. "
      "To see status for all tasks submitted for this problem, click on this button")}:
    </label>
      </br>
    <input type="button" name="task-history-all" value="${_("Show Background Task History for Problem")}" data-endpoint="${ section_data['list_instructor_tasks_url'] }" aria-describedby="task-history-all-help">
    <div class="task-history-all-table"></div>
  </div>
%endif

%if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS'):
  <div class="running-tasks-container action-type-container">
    <hr>
    <h3 class="hd hd-3">${_("Pending Tasks")}</h3>
    <div class="running-tasks-section">
      <label>${_("The status for any active tasks appears in a table below.")} </label>
      <br />

      <div class="running-tasks-table" data-endpoint="${ section_data['list_instructor_tasks_url'] }"></div>
    </div>
    <div class="no-pending-tasks-message"></div>
  </div>

%endif
